<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title>
    Prognoos
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-button routerLink="/subpage3" color="success">Analüüs
<ion-icon slot="start" name="alarm" ></ion-icon>
</ion-button>
<ion-button routerLink="/subpage3a" color="success">Räägi robotiga
<ion-icon slot="start" name="home"></ion-icon>
</ion-button>

<br>

<h3>Siia siis toodame sisu kolmanda tabi jaoks</h3>

<div class="tekstselgit2">  
Siia võib sisestada andmeid, mida oleks võimalik täiendavas analüüsis kasutada...
</div>

<br>
<matrix-autochart></matrix-autochart>

<br>
<br>
<matrix-clientinput></matrix-clientinput>

<br>
<br>
<matrix-easychart></matrix-easychart>
<br>
<br>
<matrix-easychart2></matrix-easychart2>
<br>
<!--matrix-flash></matrix-flash-->



</ion-content>